<div class="">
  <div class="overlay">
    <!-- Header -->
    <div class="header">
      <h3>🎬 Movie Search App</h3>
    </div>

    <!-- Search Box -->
    <div class="search-box">
      <input [(ngModel)]="query" placeholder="Search movies..." />
      <button (click)="search()">Search</button>
    </div>

    <!-- Loading & Error -->
    <div *ngIf="loading" class="loading">Loading...</div>
    <div *ngIf="error" class="error">{{ error }}</div>

    <!-- Search Results -->
    <div *ngIf="movies.length > 0">
      <h3 class="header1">Search Results</h3>
      <app-movie-list [movies]="movies"></app-movie-list>
    </div>

    <!-- Recommended Movies -->
    <div *ngIf="!movies.length && recommended.length > 0">
      <h3 class="header1">Recommended Movies</h3>
      <app-movie-list [movies]="recommended"></app-movie-list>
    </div>
  </div>
</div>
