.header {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.header h3 {
  font-size: 2rem;
  font-weight: 700;
  color: #ff3c00; /* bright movie accent color */
  letter-spacing: 1px;
  text-transform: uppercase;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}


.search-box {
  display: flex;
  justify-content: center;
  margin: 10px ;
  gap: 0.5rem;
}

.search-box input {
  width: 300px;
  padding: 0.5rem;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.search-box button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.search-box button:hover {
  background-color: #0056b3;
}

:host {
  display: block;
  background-color: #f9f9f9;
  min-height: 100vh;
}
